/**
 * ----------------------------------------
 * slidy-alert by @MyPass-Dan
 * ----------------------------------------
 */
 .slidy-alert
 {
     width: fit-content !important;
     margin: 20px 0;
     padding: 20px;
     border-left: 3px solid #eee;
 }
  
 .slidy-alert:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 50px solid white;
    border-left: 50px solid transparent;
    width: 0;
}

 .slidy-alert-right
 {
     width: fit-content !important;
     text-align: right;
     margin: 20px 0;
     padding: 20px;
     border-right: 3px solid #eee;
 }
 .slidy-alert h4
 {
     margin-top: 0;
     margin-bottom: 5px;
 }
 .slidy-alert p:last-child
 {
     margin-bottom: 0;
 }
 .slidy-alert code
 {
     background-color: #fff;
     border-radius: 3px;
 }
 .slidy-alert-success
 {
     background-color: #F4FDF0;
     border-color: #71a752;
 }
 .slidy-alert-warning
 {
     background-color: #fdfdf0;
     border-color: #f8bc3b;
 }
 .slidy-alert-success h4
 {
     color: #71a752;
 }
 .slidy-alert-danger
 {
     background-color: #fdf7f7;
     border-color: #d94f66;
 }
 .slidy-alert-danger h4
 {
     color: #d94f66;
 }
 .slidy-alert-warning h4
 {
     color: #f8bc3b;
 }
 .slidy-alert-warning h4
 {
     background-color: #f4f8fa;
     color: #f8bc3b;
 }
 .slidy-alert-info
 {
     background-color: #f4f8fa;
     border-color: #5bc0de;
 }
 .slidy-alert-primary h4
 {
     color: #0d6efd;
 }
 .slidy-alert-primary
 {
     background-color: #f4f8fa;
     border-color: #0d6efd;
 }
 .slidy-alert-info h4
 {
     color: #5bc0de;
 }
 .slidy-alert-default
 {
     background-color: #EEE;
     border-color: #B4B4B4;
 }
 .slidy-alert-default h4
 {
     color: #000;
 }

 .slide-ste-ani 
 {
	-webkit-animation: slide-ste 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-ste 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 } 

 .slide-ets-ani {
	-webkit-animation: slide-ets 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-ets 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
} 

@-webkit-keyframes slide-ste {
   0% {
       -webkit-transform: translateX(-100px);
               transform: translateX(-100px);
     }
     100% {
       -webkit-transform: translateX(0);
               transform: translateX(0);
     }
 }

@keyframes slide-ste {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/**
  * ----------------------------------------
  * animation slide-left
  * ----------------------------------------
  */
  @-webkit-keyframes slide-ets {
    0% {
        -webkit-transform: translateX(100px);
                transform: translateX(100px);
      }
      100% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
      }
  }
  @keyframes slide-ets {
    0% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }

  @media (max-width: 1500px) {
      .slidy-alert {
        width: 100% !important;
      }
  }

  .touchable{
      pointer-events: all;
  }